.close-button {
  background-color: #fd8485;
  width: 5rem;
  // border-radius: 2px;
  .btn-text {
    color: #ffffff;
  }
}

.save-button {
  background-color: #28b37b;
  width: 5rem;
  // border-radius: 2px;
  .btn-text {
    color: #ffffff;
  }
}

.save-button-disabled {
  width: 5rem;
  // border-radius: 2px;
  // .btn-text-disabled {
  //   color: #ffffff;
  // }
}
