<div class="padding-top-20">
  <div class="mat-elevation-z8">
    <!-- <div
        *ngIf="pagination.isLoading"
        fxLayout="row"
        fxLayoutAlign="center center"
        style="height: 400px"
      >
        <mat-spinner color="primary"></mat-spinner>
      </div> -->

    <ng-container *ngIf="pagination.isLoading">
      <mat-progress-bar color="primary" mode="indeterminate">
      </mat-progress-bar>
      <div class="loading-shade"></div>
    </ng-container>

    <app-sales-search
      *ngIf="paginator !== undefined"
      [gap]="gap"
      [entity]="entity"
      [entityFlex]="entityFlex"
      [secondEntity]="secondEntity"
      [secondEntityFlex]="secondEntityFlex"
      [dropdown]="dropdownName"
      [dropdownFlex]="dropdownFlex"
      [secondDropdown]="secondDropdownName"
      [secondDropdownFlex]="secondDropdownFlex"
      [from_date]="true"
      [from_dateFlex]="from_dateFlex"
      [to_date]="true"
      [to_dateFlex]="to_dateFlex"
      [searchFlex]="18"
      [multipleRow]="multipleRow"
      [limit]="paginator.pageSize"
      (submitSearch)="submittedSearch($event)"
    ></app-sales-search>

    <table mat-table [dataSource]="dataSource" matSort id="custom-table">
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sl</th>
        <td
          mat-cell
          *matCellDef="let row; let i = index"
          data-label="updatedAt"
        >
          {{ paginator.pageIndex * paginator.pageSize + (i + 1) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Date</th>
        <td mat-cell *matCellDef="let row" data-label="createAt">
          {{ row?.createAt | date: "MMM d, y, h:mm a" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="expectedShipmentDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left">
          Pick Up Date (Expected)
        </th>
        <td mat-cell *matCellDef="let row" data-label="expectedShipmentDate">
          {{
            row?.deliveryAssignment?.expectedShipmentDate
              | date: "MMM d, y, h:mm a"
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="transporter">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Transporter</th>
        <td mat-cell *matCellDef="let row" data-label="shop">
          <div fxLayout="column" fxLayoutAlign="space-between start">
            <b class="italic">
              {{ row?.deliveryAssignment?.transporter?.user?.firstName }}
              {{ row?.deliveryAssignment?.transporter?.user?.lastName }}
            </b>
            <span>
              Mobile: {{ row?.deliveryAssignment?.transporter?.user?.phone }}
            </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="shop">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Shop</th>
        <td mat-cell *matCellDef="let row" data-label="shop">
          <div>
            <b class="italic">{{ row?.shop?.name }}</b
            ><br />
            <span>{{ row?.shop?.location }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Delivery Status
        </th>
        <td mat-cell *matCellDef="let row" data-label="status">
          {{ row?.status }}
        </td>
      </ng-container>

      <ng-container matColumnDef="invoiceTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let row" data-label="amount">
          {{ row?.invoiceTotal }}
        </td>
      </ng-container>

      <ng-container matColumnDef="paymentMethod">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment</th>
        <td mat-cell *matCellDef="let row" data-label="paymentMethod">
          <span *ngIf="row?.paymentMethod === 0">No</span>
          <span *ngIf="row?.paymentMethod === 1">COD</span>
          <span *ngIf="row?.paymentMethod === 2">Online</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="deliveryAddress">
        <th mat-header-cell *matHeaderCellDef>Delivery Address</th>
        <td mat-cell *matCellDef="let row" data-label="deliveryAddress">
          {{ row?.shippingAddress?.address }}
        </td>
      </ng-container>

      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef>Orders</th>
        <td mat-cell *matCellDef="let row" data-label="orderId">
          <a
            class="order-id"
            [routerLink]="['/dashboard/order/details/' + row.order.id]"
          >
            <button
              mat-raised-button
              class="history-content-button"
              color="primary"
            >
              Order
            </button></a
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="InvoiceId">
        <th mat-header-cell *matHeaderCellDef>Invoices</th>
        <td mat-cell *matCellDef="let row" data-label="InvoiceId">
          <a [routerLink]="['/dashboard/accounting/shop-invoices/details/' + row.id]">
            <button
              mat-raised-button
              class="history-content-button"
              color="mediumpurple"
            >
              Invoice
            </button>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="deliveryStatus">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row" data-label="deliveryStatus">
          <mat-chip-list>
            <mat-chip
              class="history-content-button w-100"
              [ngClass]="{
                assigned: row?.deliveryAssignment?.status === 1,
                picked: row?.deliveryAssignment?.status === 2,
                delivered: row?.deliveryAssignment?.status === 3
              }"
            >
              <span
                class="btn-text"
                *ngIf="row?.deliveryAssignment?.status === 1"
                >Assigned</span
              >
              <span
                class="btn-text"
                *ngIf="row?.deliveryAssignment?.status === 2"
                >Picked</span
              >
              <span
                class="btn-text"
                *ngIf="row?.deliveryAssignment?.status === 3"
                >Delivered</span
              >
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="assign">
        <th mat-header-cell *matHeaderCellDef>Transporters </th>
        <td mat-cell  *matCellDef="let row" data-label="assign">
          <a>
            <button mat-button class="assign-btn" (click)="openDialog(row.id)">
              <span class="btn-text">Assign</span>
            </button>
          </a>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="pagination.totalCount"
      [pageSizeOptions]="[10, 20, 30, 40, 50]"
      [pageSize]="pagination.rowsPerPage"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
