.background-card {
  border-radius: 0 !important;
  background-color: #ffffff;
  background-image: url("../../../../../assets/images/sign_up_illustration.png");
  background-repeat: no-repeat;

  .mini-card {
    // margin: -3rem -1.8rem;
    background-color: rgb(244, 244, 244);
    border-radius: 1px !important;
    transform: scale(0.8);

    .sign-up-top {
      font-weight: bold;
      color: #28b37b;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 1rem;
      text-transform: capitalize;
    }

    .divider-line {
      height: 40rem;
      background-color: rgb(145, 145, 145);
    }

    .address-bar {
      height: 5.5rem;
    }

    .signup-button {
      height: 2.5rem;
      background-color: rgb(63, 63, 63);
      margin-top: 1rem;
      width: 27rem;

      .signup-text {
        color: white;
        font-size: 1.1rem;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      }
    }

    .login-text {
      color: #28b37b;
      text-decoration: none;
      font-size: large;
    }

    .facebook-icon {
      font-size: 2rem;
      cursor: pointer;
      color: rgba(67, 167, 255, 255);
    }

    .gmail-icon {
      font-size: 2rem;
      cursor: pointer;
      width: 24px;
      padding-top: 5px;
      // color: rgba(230, 79, 79, 255);
    }

    .agm-map {
      height: 300px;
      padding-bottom: 1rem;
    }
  }
}

.change-btn {
  height: 3rem;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 2px;
  border-color: #28b37b;
  min-width: 398px;
  .text {
    color: #28b37b;
  }
}
@media (max-width: 560px) {
  .signUpForm {
    width: 100%;
  }
}
